<div class="card-deck">
  <div class="card">
    <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg" class="card-img-top" alt="工程師">
    <div class="card-body">
      <label for="engineer">工程師</label>
      <input type="radio" name="person" id="engineer" value="engineer">
    </div>
  </div>
  <div class="card">
    <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg" class="card-img-top" alt="設計師">
    <div class="card-body">
      <h5 class="card-title">設計師</h5>
      
    </div>
  </div>
  <div class="card">
    <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">創業家</h5>
      
    </div>
  </div>
</div>